.notes-container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    background-color: dodgerblue;
}
.notes-container > button{
    width: 60px;
    height: 30px;
    margin: 10px;
    font-size: 18px;
    text-align: center; 
    border-radius: 20%;
}
#headline{
    display: flex;
    justify-content: center;
    font-family: 'Comic Sans';
    font-size: 60px;
    font-style: italic;
}